# data wrangling with pandas

In [104]:
import pandas as pd
accounts = pd.read_csv("./data/hml/Kirjaussuunnitelma 2014 tili.csv", 
                               encoding="iso-8859-15", sep=";", decimal=",", dtype=str) 
cost_obj = pd.read_csv("./data/hml/Kirjaussuunnitelma 2014 kp.csv", 
                               encoding="iso-8859-15", sep=";", decimal=",", dtype=str) 
parse_lookup = {
                 "Tot eurot": float, 
                 "Docid": str, 
                 "Tositenumero": str, 
                 "Kp": str, 
                 "Tili": str
                }
bills = pd.read_csv(
                    "./data/hml/HML ostolaskut 2014 julkaisu final.csv",
                    encoding="iso-8859-15", 
                    sep=";", 
                    decimal=",", 
                    dtype=parse_lookup
                   )

In [94]:
accounts.describe()

,Laji1,Laji2,Laji3,Tilin nimi,Tili
count,416,416,416,416,416
unique,2,12,40,406,416
top,TOIMINTAKULUT,Palvelujen ostot,Muiden palvelujen ostot,Omistusosuuksien luovutukset,4422
freq,302,69,62,2,1

In [105]:

all_ = pd.merge(bills, accounts, how="left", on=["Tili", "Tilin nimi"])

#all_ = all_.drop("Y-tunnus", 1)

all_ = pd.merge(all_, cost_obj, how="left", left_on="Kp", right_on="KP")
all_.describe()

            Tot eurot
count   124730.000000
mean      2141.096902
std      46347.645168
min    -298942.680000
25%         37.020000
50%        138.590000
75%        517.082500
max    5000000.000000

count        122659
unique         3233
top       2332823-6
freq          19854
Name: Y-tunnus, dtype: object

In [115]:
#now we can use the
grouped = all_.groupby("Y-tunnus")
sums = grouped.sum().sort_values("Tot eurot", ascending=False)

In [116]:
sums

                 Tot eurot
Y-tunnus
0818235-5      84184036.00
2145554-9       9979295.95
1972415-6       8393368.65
2332823-6       7167542.86
2368079-0       6859711.76
0648130-0       5629915.19
1755463-2       4335243.43
2445423-4       4048636.17
2217411-6       3886124.60
2489273-6       3784311.20
1948154-5       3671251.07
0832624-0       2743975.75
0200924-4       2383789.45
1893659-5       2097910.47
1881647-0       2092184.00
0154049-8       2091620.00
2483731-5       2064826.49
0205308-5       2054176.52
2407031-0       2000013.75
2138243-1       1942107.14
2392519-6       1881423.57
2268637-3       1817500.64
0203300-9       1767807.00
2158064-9       1648168.02
2069302-7       1641585.73
0276725-6       1627232.17
1727734-8       1624702.54
0211271-9       1621251.72
2017532-6       1585120.28
0562809-1       1535266.00
...                    ...
2001469-6            14.52
2321889-7            13.64
2222557-7            13.64
Toiminimi 36         13.00
Toiminimi 584        12.95
2477126-4            12.31
Toiminimi 523        12.10
0221679-6            12.00
0117007-9            12.00
Apteekki 20          11.99
1492422-0            11.43
2153192-7            10.44
0152374-3            10.32
1540577-2            10.00
2054621-1            10.00
2029188-8             9.00
2553871-2             8.00
Toiminimi 151         7.98
1928351-4             7.40
2553600-4             7.00
Apteekki 5            6.66
0209113-7             6.30
2327327-1             5.50
Toiminimi 532         0.00
0225624-5             0.00
Toiminimi 290         0.00
1618557-2             0.00
2290861-8           -80.65
1071366-1          -867.88
0145801-3        -11119.00

[3292 rows x 1 columns]